%aside.appBanner
  .appBanner__inner
    %h2.appBanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.appBanner__inner__text
      今すぐ無料ダウンロード！
    .appBanner__inner__icon
      = link_to "#", class: "aBtn" do
        = image_tag('/material/pict/app_store_badge.svg')
      = link_to "#", class: "gBtn" do
        = image_tag('/material/pict/google-play-badge.png')