= render "products/header"
.sell__wrapper
  .sell__header
  .regist__container
    .sell__container__images
      .user__container__images__titles
        商品送付先情報入力

    .entrySell__container__description
      .sell__container__description__address
        .label
          .label__content
            商品送付先氏名(全角)
          .label__required
            必須
        .entryform__parallel
          %input.regist-inputBox__name{ placeholder: "例）振馬" }
          %input.regist-inputBox__name{ placeholder: "例）太郎" }

        .label
          .label__content
            商品送付先氏名カナ(全角)
          .label__required
            必須
        .entryform__parallel
          %input.regist-inputBox__name{ placeholder: "例）フリマ" }
          %input.regist-inputBox__name{ placeholder: "例）タロウ" }

        .label
          .label__content
            郵便番号
          .label__required
            必須
        .entryform__parallel
          %input.input-box{ placeholder: "例)123-4567" }

        .label
          .label__content
            都道府県
          .label__required
            必須
        .entryform__parallel
          %input.input-box{ placeholder: "" }

        .label
          .label__content
            市町村
          .label__required
            必須
        .entryform__parallel
          %input.input-box{ placeholder: "例)大阪市中央区" }

        .label
          .label__content
            番地
          .label__required
            必須
        .entryform__parallel
          %input.input-box{ placeholder: "例)難波５丁目１−６０" }

        .label
          .label__content
            建物名
          .label__any
            任意
        .entryform__parallel
          %input.input-box{ placeholder: "例)なんばスカイオ 15階" }

        .label
          .label__content
            電話
          .label__any
            任意
        .entryform__parallel
          %input.input-box{ placeholder: "例)09012345678" }

        .cautionMess__gray
          ※本人情報は正しく入力してください。登録後、修正するにはお時間をいただく場合がございます。
    
    .sell__container__btn
      .sell__container__btn__sell
        %button.regist-btn
          登録する
      .sell__container__btn__save
        %button.temporary__regist-btn
          下書きに保存
      .sell__container__btn__return
        %a.back-link(href = root_path)
          もどる
= render "products/footer"