= render "products/header"
.sell__wrapper
  .sell__header
  .regist__container
    .sell__container__images
      .user__container__images__titles
        会員情報入力

    .entrySell__container__description
      .cautionMess
        安全・安心にご利用いただくために、お客様の本人確認情報の登録にご協力ください。
        他のお客様に公開されることはありません。

      .sell__container__description__address
        .label
          .label__content
            お名前(全角)
          .label__required
            必須
        .entryform__parallel
          %input.regist-inputBox__name{ placeholder: "例）振馬" }
          %input.regist-inputBox__name{ placeholder: "例）太郎" }

        .label
          .label__content
            お名前カナ(全角)
          .label__required
            必須
        .entryform__parallel
          %input.regist-inputBox__name{ placeholder: "例）フリマ" }
          %input.regist-inputBox__name{ placeholder: "例）タロウ" }

        .label
          .label__content
            生年月日
          .label__required
            必須
        .entryform__parallel
          %input.regist-inputBox__bod{ placeholder: "" }年
          %input.regist-inputBox__bod{ placeholder: "" }月
          %input.regist-inputBox__bod{ placeholder: "" }日
      
        .cautionMess__gray
          ※本人情報は正しく入力してください。登録後、修正するにはお時間をいただく場合がございます。
    
    .sell__container__btn
      .sell__container__btn__sell
        %button.sell-btn
          登録する
      .sell__container__btn__save
        %button.save-btn
          下書きに保存
      .sell__container__btn__return
        %a.back-link(href = root_path)
          もどる
= render "products/footer"