.single__container
  %header.single__container__header
    %h1
      =link_to = image_tag()
    %nav.single__container__header__nav
      %ol.single__container__header__nav__box
        %li.navBox-content
          会員情報
            .navBox-content__bar
        %li.navBox-content
          電話番号承認
            .navBox-content__bar
        %li.navBox-content
          完了
            .navBox-content__bar
  .single__container__main
  .single__container__footer