= render 'products/header'
.compContainer
  .compContainer__panel
    .compContainer__panel__image
      = image_tag('material/pict/info.png')
    .compContainer__panel__message
      %p クレジットカードの登録が完了しました。
      = link_to "トップページへ戻る", root_path
= render 'products/footer'