* {
  box-sizing: border-box;
}

header{
  height: 100px;
  width: 100vw;
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.headerBox{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
      &__icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__searchBox{
        margin-left: auto;
        width: 100%;
        &__form{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        .search__button{
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
      }
    }

    &__nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .listLeft{
        position: relative;
        display: flex;
        .listLeft__btn{
          display: flex;
          line-height: 38px;
        }
      }
      .listRight{
        margin-left: auto;
        display: flex;
        .listRight__item__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
        .listRight__item__new{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }
    }
  }
}

.headerBox__inner__main__icon a{
  width: 140px;
  display: block;
}

.listLeft__btn a{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

.listRight__item__login a{
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  line-height: 32px;
}

.listRight__item__new a{
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  line-height: 32px;
}

img{
  width: 100%;
  vertical-align: bottom;
}

form{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

ul li{
  list-style: none;
}