.header
  = link_to image_tag('materials/logo.png', height: '60px', class: 'header__logo'), root_path
.container
  .container__images
    .container__images__titles
      .label
        .label__content
          出品画像
        .label__required
          必須
      %p 最大10枚までアップロードできます
    .container__images__drag-drop-box
      %label.image-select-box
        %input.image-select-box__hidden{ type: "file", accept: "image/*"}
        .image-select-box__visible
          = image_tag 'materials/icon_camera.png', height: '20px', class: 'camera-logo'
          %p ドラッグアンドドロップ
          %p またはクリックしてファイルをアップロード

  .container__description
    .container__description__name
      .label
        .label__content
          商品名
        .label__required
          必須
      %input.input-box{ placeholder: "40文字まで"}
    .container__description__text
      .label
        .label__content
          商品の説明
        .label__required
          必須
      %textarea.text-box{ placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" }
      .text-counter
        0/1000
    
  
  .container__details
    .caption
      商品の詳細
    .container__details__category
      .label
        .label__content
          カテゴリー
        .label__required
          必須
      %select.select-box
      %select.select-box
      %select.select-box
    .container__details__size
      .label
        .label__content
          サイズ
        .label__required
          必須
      %select.select-box
    .container__details__brand
      .label
        .label__content
          ブランド
        .label__required.label__required--not
          任意
      %input.input-box{ placeholder: "例）シャネル"}
    .container__details__condition
      .label
        .label__content
          商品の状態
        .label__required
          必須
      %select.select-box
  .container__shipping
    .caption
      配送について
    .container__shipping__charge
      .label
        .label__content
          配送料の負担
        .label__required
          必須
      %select.select-box
    .container__shipping__origin
      .label
        .label__content
          発送元の地域
        .label__required
          必須
      %select.select-box
    .container__shipping__days
      .label
        .label__content
          発送までの日数
        .label__required
          必須
      %select.select-box
  .container__price
    .caption
      価格（¥300〜9,999,999）
    .container__price__selling-price
      .label
        .label__content
          販売価格
        .label__required
          必須
      .price-box
        ¥
        %input.price-box__input{ placeholder: "0"}
    .container__price__commition
      %p 販売手数料（10%）
      %p ー
    .container__price__profit
      %p 販売利益
      %p ー
  .container__btn
    .container__btn__sell
      %button.sell-btn
        出品する
    .container__btn__save
      %button.save-btn
        下書きに保存
    .container__btn__return
      %a.back-link(href = root_path)
        もどる
.footer
  .footer__logo
    = link_to image_tag('materials/logo-white.png', height: '55px', class: 'footer__logo__image'), root_path
    .footer__logo__block
      %a.footer__logo__block__copyright(href = root_path) ©
      %a.footer__logo__block__str(href = root_path) FURIMA