* {
  box-sizing: border-box;
}

@mixin border {
  border-bottom: 1px solid #eeeeee;
}
@mixin padding_container {
  padding: 20px 40px 40px 40px; 
}
@mixin box_design {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
@mixin input-box_height {
  height: 45px;
}
@mixin images-text-box_height {
  height: 150px;
}

.wrapper {
  background-color: #eeeeee;
}

.header {
  height: 130px;
  text-align: center;
  &__logo {
    margin: 30px 0;
  }
}

.container {
  background-color: #ffffff;
  width: 700px;
  margin: 0 auto;
  &__images {
    @include border;
    @include padding_container;
    &__titles {
      margin-bottom: 20px;
      font-size: 13px;
      color: #222222;
    }
  }
  &__description {
    @include border;
    @include padding_container;
  }
  &__details {
    @include border;
    @include padding_container;
  }
  &__shipping {
    @include border;
    @include padding_container;
  }
  &__price {
    @include padding_container;
    font-size: 13px;
    color: #222222;
    &__selling-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__commition {
      @include border;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
    }
    &__profit {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
  }
  &__btn {
    padding: 0 35px 40px 35px;
    text-align: center;
    &__return {
      margin: 20px 0;
      font-size: 13px;
    }
  }
}

.footer {
  height: 200px;
  display: flex;
  align-items: center;
  &__logo {
    margin: 0 auto;
    width: 200px;
    height: 70px;
    position: relative;
    &__block {
      position: absolute;
      bottom: 0px;
      left: 65px;
      display: flex;
      align-items: center;
      &__copyright {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
      }
      &__str {
        display: inline-block;
        font-size: 13px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

.label {
  display: flex;
  font-weight: bold;
  font-size: 13px;
  margin: 20px 0;
  &__content {
    color: #333333;
  }
  &__required {
    margin-left: 7px;
    color: #ffffff;
    font-size: 12px;
    padding: 1px 3px;
    border-radius: 2px;
    background-color: #00eeff;
    &--not {
      background-color: #d3d3d3;
    }
  }
}

.input-box {
  @include box_design;
  @include input-box_height;
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  font-size: 15px;
}

.text-box {
  @include box_design;
  @include images-text-box_height;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.image-select-box {
  position: relative;
  &__hidden {
    @include images-text-box_height;
    width: 100%;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
  }
  &__visible {
    @include images-text-box_height;
    cursor: pointer;
    width: 100%;
    line-height: 20px;
    padding: 35px;
    background-color: #eeeeee;
    border: 1px dashed #d3d3d3;
    font-size: 12px;
    text-align: center;
  }
}

.select-box {
  @include box_design;
  @include input-box_height;
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  cursor: pointer;
}

.sell-btn {
  width: calc(100% - 270px);
  height: 45px;
  border-radius: 4px;
  margin: 12px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  background-color: #00eeff;
  border-style: none;
  color: #ffffff;
}
.save-btn {
  width: calc(100% - 270px);
  height: 45px;
  border-radius: 4px;
  margin: 12px 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: #d3d3d3;
  border-style: none;
  color: #222222;
}

.price-box {
  display: flex;
  align-items: center;
  &__input {
    @include box_design;
    height: 45px;
    width: 280px;
    padding: 8px 30px;
    margin: 7px 0 7px 7px;
    font-size: 15px;
    text-align: right;
  }
}

.text-counter {
  font-size: 10px;
  color: #777777;
  text-align: right;
}
.back-link {
  text-decoration: none;
  color: #87cefa
}
.back-link:hover {
  text-decoration: underline;
}
.camera-logo {
  margin-bottom: 5px;
}
.caption {
  margin: 20px 0 ;
  font-size: 13px;
  font-weight: bold;
  color: #888888;
}
