
.mypage__body{
  height: 1050px;
  width: 100vw;
  background-color: #eeeeee;
  // padding: 40px;
  &__main {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    .left{
      margin-right: 40px;
      .mypage-list{
        &__ul {
          &__li {
          width: 250px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          border-right: solid 1px #eeeeee;
          border-bottom: solid 1px #eeeeee;
          border-left: solid 1px #eeeeee;
          font-weight: 500; 
          display: flex;
          justify-content: space-between;
          }
        }
      }
      .title{
        font-size: 16px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 8px;
        margin-left: 8px;
        left: 170px;
      }
      .setting {
        .setting-list {
          &__ul {
            &__li {
              width: 250px;
              padding: 16px;
              background: #fff;
              font-size: 14px;
              color: #333;
              border-right: solid 1px #eeeeee;
              border-bottom: solid 1px #eeeeee;
              border-left: solid 1px #eeeeee;
              font-weight: 500; 
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .right{
      width: 700px;
      height: 480px;
      background-color: #eeeeee;
      &__content{
        &__top{
          width: 65opx;
          height: 200px;
          background-color: #fff;
          &--a{
            height: 120px;
            width: 700px;
            padding-top: 40px;
            .a {
              &__myphoto{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: black;
                margin-left: auto;
                margin-right: auto;;
              } 
              &__name{
                font-size: 13px;
                font-weight: 600;
                text-align: center; 
                margin-top: 8px;
              }
              &__rank{
                margin-top: 6px;
                display: flex;
                text-align: center;
                &__level{
                  margin-left: 296px;
                  font-size: 13px;
                  font-weight: 600;
                }
                &__item{
                  margin-left: 16px;
                  font-size: 13px;
                  font-weight: 600;
                }
              }
            }  
          }
        }
        &__tabs{
          width: 700px;
          .tab__top{
            display: flex;
            &__li{
              background-color: #dcdcdc;
              height: 40px;
              width: 350px;
              text-align: center;
              font-weight: 600; 
              line-height: 40px;
            }
            .info{
              background-color: #fff;
              border-top-style: solid;
            }
          }
        }
        &__naiyou{
          width: 700px;
          height: 240px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          &--a{
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            color: #ccc;
          }
        }
      }
      &__bottom{
        width: 700px;
        height: 400px;
        margin-top: 90px;
        background-color: #fff;
        &__title{
          width: 700px;
          height: 68px;
          font-weight: bold; 
          font-size: 17px;
          padding: 18px;
        }
        &__tab__buy{
          display: flex;
          &__li{
            height: 40px;
            width: 350px;
            text-align: center;
            font-weight: 600; 
            background-color: #dcdcdc;
            line-height: 40px;
          }
          .now{
            background-color: #fff;
            border-top-style: solid;
          }
        }
        .bottom__syousai{
          width: 100%;
          height: 292px;
          display: flex;
          justify-content: center;
          align-items: center;
          &--x{
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            color: #ccc;
          }
        }
      }
    }
  }
}