.sell__footer
  %nav
    %ul.navbar
      %li
        =link_to "プライバシーポリシー"
      %li
        =link_to "フリマ利用規約"
      %li
        =link_to "特定商取引に関する記表"
  .sell__footer__logo
    = link_to image_tag('material/logo/logo-white.png', height: '55px', class: 'sell__footer__logo__image'), root_path
    .sell__footer__logo__block
      %a.sell__footer__logo__block__str(href = root_path) © FURIMA